*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F6F8F9;
}

.container {
  background-color: white;
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
  border-radius: 5px;
  padding-left: 30px;
}

header {
  padding: 7px 20px;
  margin-bottom: 30px;
  background-color: white;
}

header img {
  vertical-align: middle;
  width: 36px;
}

header span {
  font-size: 30px;
  font-weight: 750;
  margin-left: 3px;
  vertical-align: middle;
}

/* bottoni */

#buttons {
  padding: 10px;
  border-bottom: 2px solid #FAFBFB;
}

.button {
  border-radius: 5px;
  padding: 5px;
  font-size: 0.6rem;
}

.button.add-task {
  background-color: #47ADF1;
  color: white;
  border: none;
}

.button.add-section {
  background-color: white;
  color: rgb(149, 148, 148);
  border: 1px solid rgb(149, 148, 148);
}

/* lista */

.lista {
  list-style: none;
}

.elemento {
  font-size: 1rem;
  font-weight: 700;
  color: #42464F;
}

.check-ok, .check-no {
  padding: 0px 4px;
  border-radius: 50%;
  border: 1px solid;
}

.check-ok {
  color: green;
}

.check-no {
  color: red;
}