*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #F6F8F9;
}

.container {
  background-color: white;
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
  border-radius: 5px;
  padding-top: 10px;
}

header {
  padding: 7px 20px;
  margin-bottom: 30px;
  background-color: white;
}

header img {
  vertical-align: middle;
  width: 36px;
}

header span {
  font-size: 30px;
  font-weight: 770;
  margin-left: 3px;
  vertical-align: middle;
}

#list {
  margin-top: 20px;
}

#buttons, #list {
  padding-left: 25px;
}


/* bottoni */

#buttons {
 padding-bottom: 8px;
 border-bottom: 1px solid rgb(214, 213, 213);
}

.button {
  border-radius: 5px;
  padding: 5px;
  font-size: 0.6rem;
}

.button.add-task {
  background-color: #47ADF1;
  color: white;
  border: none;
}

.button.add-section {
  background-color: white;
  color: rgb(149, 148, 148);
  border: 1px solid rgb(149, 148, 148);
}


/* lista */

.lista {
  list-style: none;
  font-size: 15px;
  padding: 10px;
}

.lista .elemento-principale {
  font-size: 1rem;
  font-weight: 700;
  color: #42464F;
}

.elemento {
  font-size: 0.8rem;
  padding: 8px;
}

.check-ok, .check-no {
  padding: 0 3px;
  border-radius: 50%;
  border: 1px solid;
}

.check-ok {
  color: lightseagreen;
}

.check-no {
  color: red;
}

.lista .item {
  margin-left: 5px;
}

.lista .colored-item {
  background-color: red;
  color: white;
  font-size: 0.6rem;
  padding: 5px;
  border-radius: 8px;
}

.lista .colored-item.blu {
  background-color: #45ABEA;
}

.lista .colored-item.violet {
  background-color: #9C72E4;
}

.lista .colored-item.green {
  background-color: #62BEA7;
}

.lista .colored-item.orange {
  background-color:#F29E33;
}

.lista .colored-item.pink {
  background-color: #D65D9D;
}

.lista .colored-item.lightgreen {
  background-color: #AFC825;
}


